body {
  background-color: rgb(162 137 114);
}


.container {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .container > image-gallery {
    flex-basis: 350px;
    position: relative;
    cursor: pointer;
  }

  .container image-gallery img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .container image-gallery:hover {
    transform: scale(1);
  }
  .form {
    background-color: black;
    color: rgb(162 137 114);
  }
  
  #btn {
    width: 200px;
    height: 40px;
    background-color: black;
    color: rgb(162 137 114);
    border: 2px solid rgb(203, 162, 124);
  }
  .form-container {
    text-align: center;
    margin: 10px auto;
    width: 1200px;
  }
  input {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .dice > img {
    background-color: rgb(162 137 114);
  }
  .hide {
    display: none;
  }

  .p {
    color: black;
    margin-left: 200px;
  }